<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.form.moolya.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registratiob</display-name>
		<servlet-name>Registratiob</servlet-name>
		<servlet-class>com.form.moolya.Registratiob</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Model</display-name>
		<servlet-name>Model</servlet-name>
		<servlet-class>com.form.moolya.Model</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registratiob</servlet-name>
		<url-pattern>/Registratiob</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Model</servlet-name>
		<url-pattern>/Model</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home_page.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
